@import url('../../lib/shared/style/action_menu.css');
@import url('../../lib/shared/style/buttons.css');
@import url('../../lib/shared/style/confirm.css');
@import url('../../lib/shared/style/edit_mode.css');
@import url('../../lib/shared/style/headers.css');
@import url('../../lib/shared/style/input_areas.css');
@import url('../../lib/shared/style/status.css');
@import url('../../lib/shared/style/switches.css');

@import url('../../lib/carmino.css');

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-family: 'MozTT',sans-serif;
}

header h1 {
  float: left;
}

div.content {
  padding: 0 1em;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.card.skin-organic {
  background: url(../../lib/shared/style/action_menu/images/ui/pattern.png) repeat left top #3a4446;
  background-size: auto auto, 100% 100%;
}

.list-item {
  display: block;
  position: relative;
  overflow: hidden;
  height: 8em;
  border-bottom: 1px solid lightgray;
}

.list-item .title {
  margin: 1em 0 0 0;
  font-weight: bold;
  font-size: x-large;
  pointer-events: none;
}

.list-item .description {
  font-size: larger;
  pointer-events: none;
}

.detail-title {
  margin: 1em 0 0 0;
  font-weight: bold;
  font-size: x-large;
}

.detail-content a {
  color: blue;
  text-decoration: underline;
}

.bottom-toolbar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4.8rem;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.bottom-btn {
  height: 4.8rem;
  border: none;
  width: 6rem;
  margin: 0 -webkit-calc((100% - 25rem) / 8);
  margin: 0 calc((100% - 25rem) / 8);
}

.bottom-toolbar button.settings {
  background: url('images/icons/settings.png') no-repeat scroll center transparent;
}

.card[data-moduleid="app/settings"] .content {
  background: white;
}
