@import url('../../lib/shared/style/action_menu.css');
@import url('../../lib/shared/style/buttons.css');
@import url('../../lib/shared/style/confirm.css');
@import url('../../lib/shared/style/edit_mode.css');
@import url('../../lib/shared/style/headers.css');
@import url('../../lib/shared/style/input_areas.css');
@import url('../../lib/shared/style/status.css');
@import url('../../lib/shared/style/switches.css');

@import url('../../lib/carmino.css');

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'MozTT',sans-serif;
}

div.content {
  padding: 0 1em;
}